<!doctype html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>Battle Balls</title>
        <link href="assets/css/mobile.css" type="text/css" rel="stylesheet">
        <script src="/socket.io/socket.io.js"></script>
        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="assets/js/drawLib.js"></script>
        <script src="assets/js/controller.js"></script>
        <script src="assets/js/button.js"></script>
        <script> window.onload = function() { game.controller.init(); }; </script>
    </head>
    <body>
        <div id="wrapper" width="100%" height="100%">
            <canvas id="myCanvas"></canvas>
            <div id="join" width="100%" height="100%">
                <p id="titleText">Battle Balls</p>
                <p id="subtitleText">Enter Room code to connect</p>
                <div id="error"></div>
                <form>
                    <input type = "text" id="code" style="text-transform:uppercase" maxLength = "4" size = "4">
                    <br>
                    <input type = "submit" id="joinButton" value = "JOIN">
                </form>
            </div>
        </div>
    </body>
</html>
