<!doctype html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>Battle Balls</title>
        <link href="assets/css/mobile.css" type="text/css" rel="stylesheet">
        <script src="/socket.io/socket.io.js"></script>
        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="assets/js/drawLib.js"></script>
        <script src="assets/js/controller.js"></script>
        <script src="assets/js/button.js"></script>
        <script> window.onload = function() { game.controller.init(); }; </script>
    </head>
    <body>
        <div id="wrapper" width="100%" height="100%">
            <canvas id="myCanvas"></canvas>
            <div class="hidden ui" id="join" width="100%" height="100%">
                <p class="titleText">Battle Balls</p>
                <p class="subtitleText">Enter Room code to connect</p>
                <div id="error"></div>
                <form>
                    <input type = "text" id="code" style="text-transform:uppercase" maxLength = "4" size = "4">
                    <br>
                    <input type = "submit" id="joinButton" value = "JOIN">
                </form>
            </div>

            <div id="sign-in" class="ui" width="100%" height="100%">
                <p class="titleText">Battle Balls</p>
                <p class="subtitleText">LOGIN OR SIGN UP TO PLAY</p>
                <div id="error-login"></div>
                <form>
                    <input type = "text" id="usernameL" maxLength = "16" size = "16" placeholder="USERNAME">
                    <br>
                    <input type = "password" id="passwordL" maxLength = "16" size = "16" placeholder="PASSWORD">
                    <br>
                    <input type = "submit" id="loginButton" value = "LOGIN">
                    <br>
                    <input type = "submit" id="createButton" value = "SIGN UP">
                </form>
            </div>

            <div class="hidden ui" id="sign-up" width="100%" height="100%">
                <p class="titleText">Battle Balls</p>
                <p class="subtitleText">CREATE AN ACCOUNT</p>
                <div id="error-create"></div>
                <form>
                    <input type = "text" id="usernameC" maxLength = "16" size = "16" placeholder="USERNAME">
                    <br>
                    <input type = "password" id="password1" maxLength = "16" size = "16" placeholder="PASSWORD">
                    <br>
                    <input type="password"id="password2" maxLength="16" size = "16" placeholder="REPEAT PASSWORD">
                    <br>
                    <input type = "submit" id="confirmButton" value = "CONFIRM">
                </form>
            </div>

            <div id="ballSelect"><p>Ball Select</p></div>
        </div>
    </body>
</html>
